<div>
  @if (label) {
    <label [for]="name" class="block text-sm/6 font-medium text-main">{{ label }}</label>
  }
  <div class="mt-2">
    <input 
      [id]="name" 
      [type]="type" 
      [name]="name" 
      [placeholder]="placeholder" 
      [value]="value"
      [attr.aria-describedby]="description ? name + '-description' : null"
      (input)="onInputChange($event)"
      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-main outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm/6" />
  </div>
  @if (description) {
    <p [id]="name + '-description'" class="mt-2 text-sm text-secondary">{{ description }}</p>
  }
</div>
